<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Produits</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div class="container">
    <h2 class="center-align">Liste des Produits</h2>

    <a href="/products/create" class="waves-effect waves-light btn right">Créer un Produit</a>

    <!-- Add a dropdown menu to select the client -->
    <form id="buyForm" action="/buy-product" method="post" th:object="${buyProductForm}">
        <div class="input-field">
            <select th:field="${buyProductForm.selectedClient}">
                <option value="" disabled selected>Sélectionner un client</option>
                <option th:each="client : ${clients}" th:value="${client.id}" th:text="${client.name + ' ' + client.lastname}"></option>
            </select>
            <label>Client</label>
        </div>

        <input type="hidden" th:field="${buyProductForm.selectedProduct}" />

        <div class="center-align">
            <button type="button" class="waves-effect waves-light btn" onclick="buyProduct()">Acheter</button>
        </div>

        <table class="striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Catégorie</th>
                <th>Quantité Disponible</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.category.categoryName}"></td>
                <td>
                    <div class="input-field">
                        <select onchange="updateSelectedProduct(this)">
                            <option th:value="${product.id}" th:text="${product.quantity}"></option>
                        </select>
                        <label>Quantité</label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
        M.AutoInit();
    });

    function updateSelectedProduct(select) {
        // Update the hidden input with the selected product ID
        $('#buyForm').find('[name="selectedProduct"]').val($(select).val());
    }

    function buyProduct() {
        // Submit the form
        $('#buyForm').submit();
    }
</script>
</body>
</html>
