<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Produits</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="container">

    <h2 class="center-align">Liste des Produits</h2>

    <a href="/products/create" class="waves-effect waves-light btn right">Créer un Produit</a>

    <!-- Add a dropdown menu to select the client -->
    <form id="buyForm" action="/buy-products" method="post"> <!-- Update the action attribute with your actual endpoint -->
        <div class="input-field">
            <select>
                <option value="" disabled selected>Sélectionner un client</option>
                <option th:each="client : ${clients}" th:value="${client.id}" th:text="${client.name + ' ' + client.lastname}"></option>
            </select>
            <label>Client</label>
        </div>
        <div class="center-align">
            <button type="submit" class="waves-effect waves-light btn" id="buyButton">Acheter</button>
        </div>
        <table class="striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Catégorie</th>
                <th>Quantité Disponible</th>
                <th>Quantité Sélectionnée</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.category.categoryName}"></td>
                <td th:text="${product.quantity}"></td>
                <td>
                    <!-- Add quantity selector -->
                    <div class="input-field">
                        <select name="selectedQuantities">
                            <option th:each="i : ${#numbers.sequence(0, product.quantity)}" th:value="${i}" th:text="${i}"></option>
                        </select>
                        <label>Quantité</label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>
