<!-- src/main/resources/templates/products.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-connecte}" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liste des Produits</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <style>
    /* Ajoutez des styles personnalisés pour l'icône du panier et le badge */
    .cart-icon {
      position: relative;
      display: inline-block;
    }

    .badge {
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      border-radius: 50%;
      padding: 0.2em 0.5em;
      font-size: 0.8em;
      line-height: 1;
    }
  </style>
</head>
<body>
<div layout:fragment="content">
  <div class="container">
    <div class="cart-icon">
      <a href="/cart">
        <i class="material-icons">shopping_cart</i>
        <span th:text="${cartItemCount}">0</span>
      </a>
    </div>

    <h2 class="center-align">Liste des Produits</h2>
    <table class="striped">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Catégorie</th>
        <th>Quantité</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.category.categoryName}"></td>
        <td th:text="${product.quantity}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
